
   <li><a href="/">Introduction</a></li>
   <li><a href="/requirements/">Requirements</a></li>
   <li><a href="/bootstrap/">How To Use Bootstrap Script</a></li>
   <!--// ul>
      <li><a href="#ex-dbpedia">Example: DBpedia</a></li>
      <li><a href="#ex-prof">Example: Professorenkatalog</a></li>
      <li><a href="#ex-pfarrer">Example: Pfarrerbuch</a></li>
      <li><a href="#ex-custom">Custom Knowledgebase</a></li>
  </ul //-->
   <li><a href="/images/">Availabel Images</a></li>
   <li><a href="https://github.com/Dockerizing"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span> @github</a></li>
