<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body data-spy="scroll" data-target="#sidebar">
    <!-- Sidebar -->
    <div id="wrapper">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav" id="sidebar">
               <li class="sidebar-brand">
                  <a href="#">
                  <img src="/dld-logo.svg" alt="dld logo"/>
                  Dockerizing
                  </a>
               </li>
               {% include primary-nav-items.html %}
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        {{ content }}
                    </div>
                </div>
                <!-- !div row -->
            </div>
        </div>
    </div>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</body>
</html>
