<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body data-spy="scroll" data-target="#sidebar">
    <div class="container">
        <div class="jumbotron row"  style="text-align: center">
            <img src="{{ site.url }}/assets/dld-logo.svg" style="max-width: 200px; width: 50%" alt="dld logo" title="cc-by-sa 3.0: author: [Rika Yoshida](https://github.com/R-Y) via (https://commons.wikimedia.org/wiki/File:PEO-spouting_whale.svg) via (https://github.com/break24/PhantomOpenEmoji/blob/master/app/assets/images/poe/svg/spouting_whale.svg) and adapted by [Natanael Arndt](https://github.com/white-gecko)"/>
            <h1>Dockerizing Linked Data </h1>
        </div>
        <div style="padding-bottom: 20px">
            <ul class="nav nav-pills">
                {% include primary-nav-items.html %}
            </ul>
        </div>
        <div class="row">
            {{ content }}
        </div>
        <!-- !div row -->

        {% include footer.html %}

    </div>
    <!-- Latest compiled and minified JavaScript -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script> -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script> -->
</body>
</html>
